
ion-icon.textred{
    color: #FF3030;
    height: 35px;
    width: 35px;
}

ion-icon.textyellow {
    color: #FF922E;
    height: 35px;
    width: 35px;
}

ion-icon.textgreen {
    color: #2FBE34;
    height: 35px;
    width: 35px;
}

* {
    overflow-x: hidden;
    box-sizing: border-box;
}

.bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #333333;
    width: 100vw;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 32px;
    font-family: Recursive;
}

.icons {
    display: flex;
}

.bottom img {
    height: 35px;
    width: 35px;
    margin-right: 8px;
}

.messageTitle {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    align-items: center;
}

.bottom.yes, .bottom.no {
    height: 171px;
    justify-content: space-around;
}

.bottom .messageText {
    font-size: 28px;
    min-height: 31px;
}

@media (max-width: 800px) {

.bottom {
    height: 70px;   
    font-size: 22px;
}

.bottom .messageText {
    font-size: 19.5px;
    min-height: 22px;
}


}