.card {
    width: 567px;
    height: 98px;
    background-color: white;
    font-family: Recursive;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21.7px;
    margin-bottom: 15px;
    position: relative;
}

.card.textred p{
    color: #FF3030;
    text-decoration: line-through;
}

.card.textyellow p {
    color: #FF922E;
    text-decoration: line-through;
}

.card.textgreen p {
    color: #2FBE34;
    text-decoration: line-through;
}

ion-icon.textred{
    color: #FF3030;
    height: 30px;
    width: 30px;
    cursor:auto;
}

ion-icon.textyellow {
    color: #FF922E;
    height: 30px;
    width: 30px;
    cursor:default;
}

ion-icon.textgreen {
    color: #2FBE34;
    height: 30px;
    width: 30px;
    cursor:auto;
}

.card .play {
    width: 31.7px;
    height: 36.7px;
}

.arrow {
    position: absolute;
    width: 45px;
    height: 30px;
    bottom: 6px;
    right: 15px;
    color: black;
    visibility: visible;
}

.card.open.tapped {
    flex-direction: column;
    align-items: center;
}

.card ion-icon:hover {
    cursor: pointer;
}

.questionText {
    font-size: 24px;
    font-weight: 400;
    overflow-y: hidden;
    min-height: 28px;
    hyphens: auto;
    font-family: Recursive;
}

.card p{
    font-size: 24px;
    font-weight: 700;
    overflow-y: hidden;
    color: #333333;
    font-family: Recursive;
}

.dispNone {
    display: none;
}

.card.open {
    height: 160px;
    align-items: flex-start;
    padding-top: 18px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 800px) {

.card {
    width: 300px;
    height: 65px;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 15px;
    max-width: 80vw;
}

.card .play {
    width: 25px;
    height: 30px;
    margin-right: 4px;
}

.questionText {
    font-size: 15px;
    min-height: 40px;
}

.card p{
    font-size: 16px;
}

.card.open {
    height: 130px;
}

.arrow {
    width: 39px;
    height: 24px;
    bottom: 6px;
    right: 4px;
}

}


