.card {
    width: 567px;
    height: 108px;
    min-height: 82px;
    background-color: white;
    font-family: Recursive;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21.7px;
    margin-bottom: 15px;
    position: relative;
}

.card .play {
    width: 31.7px;
    height: 36.7px;
}

.arrow {
    position: absolute;
    width: 45px;
    height: 30px;
    bottom: 6px;
    right: 15px;
    color: black;
    visibility: visible;
}

.card.open.tapped {
    flex-direction: column;
    align-items: center;
}

.card ion-icon:hover {
    cursor: pointer;
}

.questionText {
    font-size: 18px;
    font-weight: 400;
    overflow-y: hidden;
    max-height: 100%;
    hyphens: auto;
}

.card p{
    font-size: 24px;
    font-weight: 700;
    overflow-y: hidden;
    
}

.dispNone {
    display: none;
}

.card.open {
    height: 164px;
    align-items: flex-start;
    padding-top: 18px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 800px) {

.card {
    width: 300px;
    height: 65px;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.card .play {
    width: 25px;
    height: 30px;
}

.questionText {
    font-size: 18px;
}

.card p{
    font-size: 16px;
}

.card.open {
    height: 130px;
}

.arrow {
    width: 39px;
    height: 24px;
    bottom: 6px;
    right: 4px;
}

}


